In [58]:
import pandas as pd
from metabasepy import Client, MetabaseTableParser

cli = Client(username="username", 
             password="password", 
             base_url="url")
cli.authenticate()

#all_dbs = cli.databases.get() #DB알기
#for i in all_dbs :
    #print(i) #DB명 ID확인(일반 접속시 database_id = 33임)

query_response = cli.dataset.post(database_id=33, query="select [index] as 'idx',login as 'login', logout as 'logout', ip as 'ip', aid as 'aid', convert(numeric(5,0),playtime) as 'dt' from Connect202109..connectlog with (nolock)") #쿼리입력 
data_table = MetabaseTableParser.get_table(metabase_response=query_response) #쿼리저장 

#print(data_table.__dict__) 쿼리결과


df = pd.DataFrame(data_table.__dict__['rows']) #쿼리 데이터프레임화
df.columns = ['idx', 'login', 'logout', 'ip', 'aid', 'dt']
df

#cli.dataset.export(database_id=33, query="select top 100 * from metabase.dbo.Baphomet_itemLog;", export_format="xlsx", full_path="C:/Users/Gravity/Desktop/python/1.csv") 엑셀파일 다운

            idx                          login                         logout                  ip       aid       dt
0     498295435  2021-09-01T00:00:00.353+09:00  2021-09-01T01:23:41.603+09:00  221.162.231.216       503018   5021.0
1     498295436   2021-09-01T00:00:02.76+09:00    2021-09-01T00:04:32.7+09:00  211.224.81.229       9510862    270.0
2     498295437  2021-09-01T00:00:03.423+09:00  2021-09-01T09:02:07.453+09:00  203.128.173.125      9094349  32524.0
3     498295438  2021-09-01T00:00:13.077+09:00  2021-09-01T02:03:14.873+09:00  1.224.226.147         935224   7381.0
4     498295439  2021-09-01T00:00:18.937+09:00  2021-09-01T00:02:27.753+09:00  112.149.101.17       5874140    129.0
...         ...                            ...                            ...                 ...       ...      ...
1995  498297430  2021-09-01T05:32:35.423+09:00  2021-09-01T09:58:53.173+09:00  125.190.91.109       1649248  15978.0
1996  498297431  2021-09-01T05:32:36.087+09:00   2021-09-01T09:58:56.73+09:00  220.79.19.65        10981820  15980.0
1997  498297432  2021-09-01T05:32:43.483+09:00   2021-09-01T09:32:56.78+09:00  220.89.54.136        5574522  14413.0
1998  498297433   2021-09-01T05:33:27.85+09:00  2021-09-01T09:04:56.983+09:00  58.236.216.119      10135002  12689.0
1999  498297434  2021-09-01T05:33:33.933+09:00  2021-09-01T07:48:14.417+09:00  116.36.157.16        4443355   8081.0

[2000 rows x 6 columns]